@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

*
{

	font-family: Indie Flower;
	font-size: 1.2em;
	color:#eae8ff;

}



body
{

	background-image: url('use_your_illusion_@2X.png');




}